QWEN_APIKEY=replace_with_your_model_api_key
GIS_PYTHON_SERVICE_URL=http://127.0.0.1:8000/analysis
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/vectordb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
